#box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

button,
input {
  height: 4rem;
  width: 16rem;
  font-size: 1.5rem;
}

input {
  margin-right: 3rem;
}

#result-container {
  font-size: 2rem;
  margin-left: 1.3rem;
}
